html .nextra-callout {
  color: black !important;
}

html[data-theme='dark'] .nextra-callout {
  color: white !important;
}

img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.nextra-content h1 {
  font-size: 2.25rem !important;  /* 4xl */
}

.nextra-content h2 {
  font-size: 1.5rem /* 2xl */
}

.nextra-toc-footer {
  display: none !important;
}

