@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html .nextra-callout {
  color: black !important;
}

img {
  /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.nextra-content h1 {
  font-size: 2.25rem !important;
  /* 4xl */
  font-family: 'Manrope';
  font-weight: 800;
}

.nextra-content h2 {
  font-size: 1.5rem;
  /* 2xl */
  font-family: 'Manrope';
  font-weight: 800;
}

.nextra-toc-footer {
  display: none !important;
}

/*.nextra-toc ._sticky {
  display: none !important;
}*/

.footer {
  font-family: 'Manrope';
  font-size: 14px;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  text-align: center;
}

@media (max-width: 600px) {

  .footer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer div {
    margin: 10px 0;
  }

  .footer-copyright-desktop {
    display: none !important;
  }

  .footer-copyright-mobile {
    display: block !important;
  }

  .pages-footer {
    margin-top: -50px !important;
  }
}

.footer-copyright-mobile {
  display: none;
}

.nextra-menu-desktop ._bg-primary-100 {
  background-color: #7f54b336 !important;
  color: #7f54b3 !important;
}